---
layout: default
title: JuiceKit
---

<table>
    <tr>
        <td style="width: 680px; padding-right: 20px;">
            
            <div id="home">
                <h1>JuiceKit <br/><span class="note">New York Times-quality visualization in Flex</span></h1>
    
            <p>JuiceKit is a visualization library for Flex that makes creating <em>New York Times-quality</em> infographics possible. JuiceKit is built on the solid foundation of the <a href="http://flare.prefuse.org/">Flare visualization library</a>, enabling high-performance, Tufte-quality views of data.</p>
    
                <p>JuiceKit is free and open-source, provided under the Apache License. It uses JavaScript and SVG for web-native visualizations; no plugin required (though you will need a modern web browser)! Although programming experience is helpful, Protovis is mostly declarative and designed to be learned by example.</p>

                <p>This project is led by Mike Bostock and Jeff Heer of the Stanford Visualization Group. We welcome your contributions and suggestions.</p>
    
              <div class="title" style="font-size: 150%">
                <a class="download" style="margin-left: 0" href="/download.html">Download JuiceKit 1.3</a>
              </div>

              <h2>What's new?</h2>
              <ul class="posts">
                {% for post in site.categories.demos %}
                  <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
              </ul>
  
              <h2>Blog Posts</h2>
              <ul class="posts">
                {% for post in site.categories.blog %}
                  <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
              </ul>
  
              <h2>Getting Started</h2>
  
              <p>JuiceKit depends</p>
  
              <h2>Getting Help</h2>
  
              <p>Support for JuiceKit starts with the Google Group. Join and ask your question</p>
  
              <h2>Other Juice Sites</h2>
              <ul class="posts">
                <li><a href="http://chartchooser.juiceanalytics.com">Chart Chooser:</a> A project to provide high quality charts for use in Excel and PowerPoint.</li>
                <li><a href="http://analyticsvisualizations.appspot.com">Analytics Visualizations:</a> Useful visualizations for Google Analytics built using JuiceKit.</li>
              </ul>
            </div>              
        </td>
        
        <td style="border-left: 1px solid #cccccc; width: 230px; padding: 10px; vertical-align: top">
            <h3><a href="/juicekit-site/demos.html">Gallery</a></h3>
            <img src="http://vis.stanford.edu/protovis/ex/minnesota-sm.png?3.0"/>
        </td>
</table>
